{% extends 'layout.html' %}

{% block title %} {{ title|title }} {% endblock %}

{% block content %}
		<div id="index-logo" class="row">
			<div class="col-md-12 lr">
				<div class="cam-posi">

					<div id="camera" class="cam-preview col-md-offset-1">
						<p>攝影機啟動中...</p>	
					</div>

					<canvas id="canvas"></canvas>

					<div class="cam-control">

						<div class="take_pic">
							<p>準備完成後</p>
							<p>請按下拍照鍵</p>
						    <p>
							    <button type="button" id="startbutton" class="btn btn-info btn-lg">拍照</button>
						    </p>
						</div>
						
						<div class="chose_pic">
							<p>要使用此張照片？</p>
							<p>
								<button type="button" id="usebutton" class="btn btn-success btn-lg">使用此張</button>
								<button type="button" id="restartbutton" class="btn btn-warning btn-lg">再拍一次</button>
							</p>
						</div>

					</div>

				</div>
			</div>
		</div>
{% endblock %}

{% block end_script %}
<script src="js/capture.js"></script>

<script>
	var socket = io('http://localhost:3000');

    socket.on('connect_error', function() {
		$('.cam-control').html('<p>[ERR]</p><p>與伺服器失去連線</p>');
	});

	socket.emit('new-print', { camera: 'open' });
	socket.on('server', function (data){

		if (data.camera == 'READY'){
			console.log('[CAMERA]',data.camera);
			$('#camera').html('<video id="video">Video stream not available.</video>');
			startup();
		}

		if (data.server == '傳送成功'){
			$('.cam-control').html('<p>'+data.server+'</p>');
			setTimeout(function(){window.location.href = "/";}, 1000);
		}

		if (data.ERR){
			$('.cam-control').html('<p>'+data.ERR+'</p>');
		}

	});
</script>
{% endblock %}