{% extends 'layout.html' %}

{% block title %} {{ title|title }} {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12 dark-background title">
				<p>列 表</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 dark-background">
			<div class="gallery">
				{% if items != null %}
					{% for item in items%}
						<div id="{{ item.id }}" class="items 
							{% if item.status == 'standby' %}
								label-default
							{% elseif item.status == 'printing' %}
								label-danger
							{% elseif item.status == 'done' %}
								label-success
							{% endif %}
						">
							<img id="img-{{ item.id }}" src="pic/{{ item.id }}.png">
							<div class="status">
								<p>
								{% if item.status == 'standby' %}
									<p >尚未列印</p>
								{% elseif item.status == 'printing' %}
									<p >列印中</p>
								{% elseif item.status == 'done' %}
									<p >列印完畢</p>
								{% endif %}
								</p>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="status sta_null">
						<p>目前沒有任何資料。</p>
					</div>
				{% endif %}
			</div>

		</div>
	</div>
{% endblock %}

{% block end_script %}
<script>
	var socket = io('http://localhost:3000');

	socket.on('server', function (data){

		if(data.server == '傳送成功'){
			location.reload();
		}
		
	});
</script>
{% endblock %}