{% extends 'layout.html' %}

{% block title %} {{ title|title }} {% endblock %}

{% block content %}
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-12 dark-background title">
				<p>管 理</p>
				<div class="btm-list">
					<div class="btm">
						<div id='correction-pic' class="btn btn-default btn-lg">校正圖</div> | 
						<div id='shutdown' class="btn btn-default btn-lg">關機</div>
						<a href="/logout"><div class="btn btn-default btn-lg">登出</div></a>
					</div>
					<div class="post-chose">
						<select id="choosePort" class="form-control">
							<option val="no">Select a serial port</option>
						</select>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="row pic-select">
			<div class="col-md-12 window">
				<div class="select-close">X</div>
				<div class="pic">
					<img src="">
				</div>
				<div>
					<div class="col-md-offset-1 info">
					</div>
					<div class="col-md-offset-1 control">
						<div id="del" class="btn btn-danger btn-lg">刪除</div>
						<div id="print" class="btn btn-success btn-lg">列印</div>
					</div>
				</div>
			</div>

		</div>

		<div class="row">
			<div class="col-md-12 dark-background">
				<div class="gallery">
					{% if items != null %}
						{% for item in items%}
							<div class="items {% if item.status == 'standby' %}label-default{% elseif item.status == 'printing' %}label-danger{% elseif item.status == 'done' %}label-success{% endif %}">
								<img id="{{ item.id }}" src="pic/{{ item.id }}.png">
								<div class="status">
									{% if item.status == 'standby' %}
										<p >尚未列印</p>
									{% elseif item.status == 'printing' %}
										<p >列印中</p>
									{% elseif item.status == 'done' %}
										<p >列印完畢</p>
									{% endif %}
								</div>
							</div>
						{% endfor %}
					{% else %}
						<div class="status sta_null">
							<p>目前沒有任何資料。</p>
						</div>
					{% endif %}
				</div>

			</div>
		</div>
	</div>

	<div class="col-md-4 lr table-cell">
		<pre id="console"></pre>
		<div style="text-align:center;">
			<div id="wPosition" class="control_btm">
					<button type="button" class="btn btn-default" id="sendZero">Zero Machine (G92)</button>
					<button type="button" class="btn btn-default" id="sendReset">RESET (ctrl-x)</button>
					<button type="button" class="btn btn-success" id="sendGrblHelp">help ($)</button>
					<button type="button" class="btn btn-success" id="sendGrblSettings">settings ($$)</button>
					<div id="wX" class="w">X: 0.000</div>
					<div id="wY" class="w">Y: 0.000</div>
					<div id="wZ" class="w">Z: 0.000</div>
					
					<span id="qu" class="input-group-btn text-left">
					<button type="button" class="btn btn-default" id="sendCommand">Send to CNC (shift+enter)</button>
					</span>
					<span id="qu" class="input-group-btn text-right">
						<button type="button" class="btn btn-default disabled" id="qStatus">0/0</button>
						<button type="button" class="btn btn-default" id="pause">Pause</button>
						<button type="button" class="btn btn-default disabled" id="clearQ">Clear Queue</button>
					</span>
			</div>

		</div>
			
		<div class="comn">
			<div class="text">指令輸入區</div>
			<textarea id="command" ></textarea>
		</div>
	</div>
{% endblock %}

{% block end_script %}
<script>
	var socket = io(window.location.origin);
	var select_id;

	socket.on('server', function (data){
		if(data.server){
			location.reload();
		}		
	});

	socket.on('list', function(data){
		if(data!=null){
			select_id=data.id;
			$('.pic-select .pic img').attr('src','pic/'+data.id+'.png');
			$('.pic-select .window .info').html( 'id:'+data.id+'<br> time:'+data.create_time+'<br> status:'+data.status );
			if(data.status=="printing"){
				$('#print').html('停止列印');
			}else{
				$('#print').html('列印');
			}
			$('.pic-select').show();
		}else{
			$('.pic-select .pic img').attr('src','');
			$('.pic-select .window .info').html( '<div class="err">Err</div>' );
			$('.pic-select').show();
		}
	});

	$('.select-close').click(function(e){
		$('.pic-select').hide();
	});

	$(".items").click(function(e){
		socket.emit('list', { id: e.target.id });
	});

	$('#del').click(function(e){
		$.ajax({
			type: 'POST',
			url: '/id/'+select_id,
	        dataType:'json',
	        contentType:'application/json',
			data: JSON.stringify({'mode': 'delete'}),
			statusCode: {
			    200: function() {
			    	location.reload();
			    }
			}
		});

	});

	$('#print').click(function(e){
		$.ajax({
			type: 'POST',
			url: '/id/'+select_id,
	        dataType:'json',
	        contentType:'application/json',
			data: JSON.stringify({'mode': 'printing'}),
			statusCode: {
			    200: function() {
			    	location.reload();
			    },
			    403: function(xhr, ajaxOptions, thrownError){
			    	alert(xhr.responseText);
			    	location.reload();
			    }
			}
		});
	});

</script>
<script src="js/machine.js"></script>
{% endblock %}