{% extends 'layout.html' %}

{% block title %} {{ title|title }} {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-md-12 dark-background title">
				<p>列 表</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 dark-background">

			<div class="gallery">
				{% for item in items%}
					<div id="{{ item.id }}" class="items">
						<img id="photo" src="pic/{{ item.id }}.png">
						<div class="status">
							<p>ID:{{ item.id }}</p>
							<p>TIME:{{ item.create_time }}</p>
							<p>STATUS:{{ item.status }}</p>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
	</div>
{% endblock %}

{% block end_script %}
<script>
	var socket = io('http://localhost:3000');

	socket.on('server', function (data){

		if(data.server == '傳送成功'){
			location.reload();
		}
		
	});
</script>
{% endblock %}